/*  your css code here. If applicable */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.main-container {
    padding: 10px;
    background-color: #f5f5f5;
}

.testimonial {
    padding: 0px;
    border: 1px solid #ccc;
	height:60px;
    background-color: white;
    margin-bottom: 10px;
}

.text {
    font-size: 11px;
	text-align: 
}

.author {
    text-align: right;
    font-style: italic;
    
}
